{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">
<section class="section-about" style="padding-top: 120px">
	


<h2>edit property</h2>

<form action="editpro" method="POST">
	 {% csrf_token %} 
	<input type="text" name="name" placeholder="name" value="{{ property.name }}"><br>
	<input type="text" name="price" placeholder="price" value="{{ property.price }}"><br>
	<input type="text" name="id" placeholder="price" value="{{ property.id }}" style="display: none" ><br>
	<input type="submit" name="">
</form>
{% if msg %}
<h6 style="color:red">{{ msg }}</h6>
{% endif %}
</section>
</main>

 {% endblock %}